<p>
<label>Server name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName">
</p>
<p>{{ serverName }}</p>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add erver</button>
<p [innerText]="allowNewServer"></p>
<p *ngIf="serverAdded">{{ serverCreationStatus }}</p>
<hr>
<label>User name:</label>
<input type="text" class="form-control" [(ngModel)]="username">
<p>The user name is: {{ username }}</p>
<button 
    class="btn btn-primary" 
    [disabled]= "username === ''"
    (click)="username = ''">Reset user</button>
<hr>
<app-server></app-server>
<div class="container">
    <app-warrning-alert></app-warrning-alert>
</div>
<app-success-alert></app-success-alert>